.checkbox-block{
    display: inline-block;
}

.checkbox-block input{
    margin-right: 10px;
}

.checkbox-block input + label{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    content: "";
    border-radius: 20%;    
    background-color: var(--color-input-background);
    border: 0.5px solid var(--color-line-in-white);
    transition: background-color 0.4s;
    color: var(--color-input-background);
}

.checkbox-block input:checked + label{
    background-color: var(--color-secundary);   

}



.checkbox-block input + label::after{
    display:flex;
    justify-content: center;
    content: "✓";
    align-items: center;   

}


